;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :dev-http {8080 "public"}
 :builds
  {:frontend
  {:target :browser
   :modules {:shared {:entries []}
             :main {:init-fn frontend.app/init
                    :depends-on #{:shared}}
             :worker {:init-fn frontend.worker/init
                      :web-worker true
                      :depends-on #{:shared}}}
   }}}
